.homeCard{
    margin-left: 2rem;
    padding: 2rem;
    max-width: 70%;
    width: 100%;
    background-color: #1D2125;
}

.homeTitle {
    font-family: Roboto;
    font-size: 28px;
    font-weight: 600;
    text-align: left;
    color: #9FADBC;
    white-space: nowrap;
    display: flex;
    align-items: center;
    align-self: center;
    
}
