.burgerModalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent background */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .burgerModal {
    background-color: #1D2125;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 200px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row; /* Arrange children in a row */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    text-align: center; /* Center text content */
    z-index: 1000;
}
  
  .compensatorButton {
    color: var(--Text, #9FADBC);
    display: flex;
    height: 2.5rem;
  
    padding: 0.5rem 1rem;
    align-items: center;
    gap: 0.5rem;
    flex-shrink: 0;
    align-self: stretch;
    border-radius: 0.5rem;
    border: 1px solid var(--Text, #9FADBC);
    background: var(--BG-03-Field, #282E33);
    box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.08) inset;
  
  }
  
  .compensatorSendModal {
    background-color: #1D2125;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width:fit-content;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /* Arrange children in a column */
    align-items: center;
    /* Center items horizontally */
    justify-content: center;
    /* Center items vertically */
    text-align: center;
    /* Center text content */
    z-index: 1000;
  }