.matriceriaImgContainer {
    display: flex;
    justify-content: center;
    margin-top: 8rem;
    height: 100%;
    width: 100%; /* Full viewport width */
    position: relative; /* Allows absolute positioning of children */
}


.matriceriaImg {
    width: 100%; /* Full width of the container */
    height: auto; /* Maintain aspect ratio */
    max-width: 100%; /* Prevents overflow */
    object-fit: contain; /* Ensure the image scales correctly */
}

.matriceriaInput {
    width: 70px;
}

@media (max-width: 767px) {
    .matriceriaImgContainer {
        display: block; /* Changes from flex to block on small screens */
    }
    .matriceriaImg {
        width: 100%;
        height: auto; /* Maintain aspect ratio */
        max-width: 100%;
        max-height: none; /* Allow the image to scale naturally */
    }
}

@media (orientation: portrait) {
    .matriceriaImg {
      transform: rotate(90deg);
    }
  }